@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* player batting orders */
ul{
	list-style: none;
	padding-left: 0;
}

#chapter-2 > div,
#chapter-4 > div,
#chapter-11 > div{
	margin: 1em;
	text-align: center;
}

#chapter-2 > div > div,
#chapter-4 > div > ul,
#chapter-11 > div > div{
	display: inline-block;
	margin: 0 1em;
	text-align: initial;
}

#chapter-2 > div > div > header,
#chapter-11 > div > div > header{
	font-style: italic;
	font-variant: normal;
	margin: 0;
}
/* end batting orders */

blockquote[epub|type~="z3998:article"] > div{
	margin: 1em;
}

/* Box score tables */
div > table{
	margin: 1em auto;
	text-align: right;
	font-variant-numeric: tabular-nums;
}

div > table:nth-of-type(2){
	margin: 0 1em;
	text-align: center;
}

table td:first-child,
table th:first-child {
  text-align: initial;
}

.telegram{
	font-variant: all-small-caps;
}
/* end box score tables */

/* figures */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption p + p{
	text-indent: 0;
}
/* end figures */
